# Data structures

## Lists

### Methods
**list.append(x)** :
    Add an item to the end of the list. Equivalent to a[len(a):] = [x].


**list.extend(iterable)** :
    Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.


**list.insert(i, x)** :
    Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a. append(x).


**list.remove(x)** :
    Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.


**list.pop([i])** :
    Remove the item at the given position in the list, and return it. If no index is specified, `a.pop()` removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)


**list.clear()** :
    Remove all items from the list. Equivalent to del a[:].


**list.index(x[, start[, end ] ])** :
    Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item. The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.


**list.count(x)** :
    Return the number of times x appears in the list.


**list.sort(*, key=None, reverse=False)** :
    Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).


**list.reverse()** :
    Reverse the elements of the list in place


**list.copy()** :
    Return a shallow copy of the list. Equivalent to a[:].

In [2]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [3]:
fruits.count('tangerine')

0

In [4]:
fruits.index('banana')

3

In [5]:
fruits.index('banana',4) # Find next banana starting at position 4

6

In [6]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [7]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [10]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [11]:
fruits.pop()

'pear'

### Using lists as stacks
The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use `append()`. To retrieve an item from the top of the stack, use `pop()` without an explicit index. .

In [17]:
stack = [3,4,5]

In [18]:
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [19]:
stack.pop()

7

In [20]:
stack

[3, 4, 5, 6]

### Using lists as Queues
It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, firstout”); however, lists are not efficient for this purpose. While appends and pops from the end of list are fast, doing inserts or pops from the beginning of a list is slow (because all of the other elements have to be shifted by one). To implement a queue, use `collections.deque` which was designed to have fast appends and pops from both ends.

In [29]:
from collections import deque
queue = deque(['Eric', 'John', 'Michael'])
queue.append('Terry') # Terry arrives
queue

deque(['Eric', 'John', 'Michael', 'Terry'])

In [30]:
queue.append('Graham') # Graham arrives
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [31]:
queue.popleft() # The first to arrive now leaves

'Eric'

In [32]:
queue.popleft() # The second to arrive leaves

'John'

In [33]:
queue # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

### List Comprehensions
List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition

In [36]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
squares = list(map(lambda x: x**2, range(10)))

In [38]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
squares = [x**2 for x in range (10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [43]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

In [44]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

### Nested List Comprehensions

In [45]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
# The following list comprehension will transpose rows and columns
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [46]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
    
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [47]:
# In the real world, you should prefer built-in functions to complex flow statements. The zip() function would do a great job for this use case
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## The `del` statement

In [58]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [59]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [60]:
del a[:]
a

[]

In [61]:
del a # deletes entire list

In [62]:
a

NameError: name 'a' is not defined

## Tuples and sequences

In [63]:
t = 12345, 54321, 'hello'
t[0]

12345

In [64]:
# tuples may be nested
u = t, (1,2,3,4,5)
u

((12345, 54321, 'hello'), (1, 2, 3, 4, 5))

In [65]:
#tuples are immutable
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [66]:
# ...but they can contain mutable objects
v = ([1,2,3],[3,2,1])
v

([1, 2, 3], [3, 2, 1])

In [71]:
# reverse operation
x, y, z = t
t

(12345, 54321, 'hello')

## Sets
A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.
Curly braces or the `set()` function can be used to create sets. Note: to create an empty set you have to use `set()`, not `{}`; the latter creates an empty dictionary, a data structure that we discuss in the next section.ion.

In [72]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket) # duplicates will be removed

{'pear', 'orange', 'banana', 'apple'}

In [73]:
'orange' in basket # quick membership testing

True

In [74]:
'crabgrass' in basket

False

In [79]:
a = set('abracadabra')
b = set('alacazam')

In [80]:
a # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [81]:
b # unique letter in b

{'a', 'c', 'l', 'm', 'z'}

In [82]:
a - b # letters in a but not in b

{'b', 'd', 'r'}

In [84]:
a | b # letters in both a or b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [85]:
a & b # letters in both a and b

{'a', 'c'}

In [86]:
a ^ b # letter in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

### Set comprehensions

In [87]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## Dictionaries

It is best to think of a dictionary as a set of _key: value_ pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: `{}`. Placing a comma-separated list of _key:value_ pairs within the braces adds initial _key:value_ pairs to the dictionary; this is also the way dictionaries are written on output

In [88]:
tel = {'jack':4089, 'sape':4139}
tel

{'jack': 4089, 'sape': 4139}

In [89]:
tel['guido'] = 4127 # add guido to dictionary

In [90]:
tel

{'jack': 4089, 'sape': 4139, 'guido': 4127}

In [91]:
tel['jack']

4089

In [92]:
del tel['sape']

In [93]:
tel

{'jack': 4089, 'guido': 4127}

In [94]:
tel['irv'] = 4127
tel

{'jack': 4089, 'guido': 4127, 'irv': 4127}

In [95]:
list(tel)

['jack', 'guido', 'irv']

In [96]:
'guido' in tel

True

In [97]:
'jack' not in tel

False

In [98]:
# build dictionary directly from sequences of key-value pairs
dict([('sape',4139), ('guido',4127), ('jack',4089)])

{'sape': 4139, 'guido': 4127, 'jack': 4089}

In [100]:
# Dict comprehension
{x:x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

In [101]:
# When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments
dict(sape=4139, guido=4127, jack=4089)

{'sape': 4139, 'guido': 4127, 'jack': 4089}

## Looping techniques

In [104]:
# looping through dictionaries
knights = {'galahad': 'the pure', 'robin':'the brave'}
for k, v in knights.items():
    print(k, v)

galahad the pure
robin the brave

In [106]:
# when looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.
for i, v in enumerate (['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [109]:
# To loop over two or more sequences at the same time, the entries can be paired with the zip() function
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('what is your {0}? it is {1}'.format(q, a))

what is your name? it is lancelot
what is your quest? it is the holy grail
what is your favorite color? it is blue

In [110]:
# looping over a sequence in reverse
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [111]:
# looping over a sequence in sorted order
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [112]:
# use set to eliminate duplicates
for i in sorted(set(basket)):
    print(i)

apple
banana
orange
pear

In [114]:
# If you want to change a list, create a new list instead
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

# MODULES