# Using Python as a Calculator

## Numbers

In [1]:
2 + 2

4

In [2]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

In [4]:
8 / 5 # division always returns a floating point number

1.6

In [5]:
17 / 3 # classic division returns a float

5.666666666666667

In [6]:
17 // 3 # floor division discards the fractional part

5

In [7]:
17 % 3 # the % operator returns the remainder of the division

2

In [8]:
5 * 3 + 2 # floored quotient * divisor + remainder

17

In [9]:
5 ** 2 # 5 squared

25

In [10]:
2 ** 7 # 2 to the power of 7

128

In [11]:
# The equal sign (=) is used to assign a value to a variable.
width = 20
height = 5 * 9
width * height

900

In [12]:
tax = 12.5 / 100
price = 100.50
print(price * tax) # 12.5625
print(price + (price * tax)) #113.0625
print(round(price + (price * tax),2)) #113.06

12.5625
113.0625
113.06

## Text

Python can manipulate text (represented by type `str`, so-called “strings”) as well as numbers. This includes characters `“!”`, words `“rabbit”`, names `“Paris”`, sentences `“Got your back.”`, etc. `“Yay! :)”`. They can be enclosed in single quotes ('...') or double quotes ("...") with the same result.

In [13]:
'spam eggs' # single quotes

'spam eggs'

In [14]:
"Paris rabbit got your back :)! Yay!" # double quotes

'Paris rabbit got your back :)! Yay!'

In [15]:
'1975' # digits and numerals enclosed in quotes are also strings

'1975'

In [16]:
'doesn\'t' # use \' to escape the single quote

"doesn't"

In [17]:
"doesn't" # or use double quotes instead

"doesn't"

In [18]:
s = "First line. \nSecond line."
s # without print(), special characters are included in the string

'First line. \nSecond line.'

In [19]:
print(s)

First line.
Second line.

In [20]:
print('C: \some\name') # here \n means newline
print(r'C: \some\name') # note the r before the quote

C: \some
ame
C: \some\name

In [21]:
# print string literals that span multiple lines
print("""\
Usage: thingy [OPTIONS]
-h             Display this usage message
-H hostname    Hostname to connect to
""")

Usage: thingy [OPTIONS]
-h             Display this usage message
-H hostname    Hostname to connect to

In [22]:
3 * 'un' + 'ium' #Strings can be concatenated (glued together) with the + operator, and repeated with *:

'unununium'

In [23]:
'Py' 'thon' #Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.

'Python'

In [24]:
text = ('Put several strings within parentheses '
       'to have them joined together')
text

'Put several strings within parentheses to have them joined together'

## Lists

In [25]:
squares = [1,4,9,16,25]
print(squares)
print(squares[0]) # indexing returns an item
print(squares[-1])
print(squares[-3:]) # slicing returns a new list

[1, 4, 9, 16, 25]
1
25
[9, 16, 25]

In [26]:
squares[:] # All slice operations return a new list containing the requested elements. This means that the following slice returns a shallow copy of the list

[1, 4, 9, 16, 25]

In [27]:
# concatenate lists
squares + [36,49,64,81,100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
# lists are mutable
cubes = [1,8,27,65,125]
cubes[3] = 64 #replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [29]:
# append to lists
cubes.append(216)
print(cubes)
cubes.append(7**3)
print(cubes)

[1, 8, 27, 64, 125, 216]
[1, 8, 27, 64, 125, 216, 343]

In [30]:
# assignment slices
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [31]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [32]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [33]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [34]:
# len() function
letters = ['a','b','c','d']
len(letters)

4

In [35]:
# nesting lists
a = ['a','b','c']
n = [1,2,3]
x = [a,n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [36]:
x[0]

['a', 'b', 'c']

In [37]:
x[0][1]

'b'

# First steps towards programming

In [38]:
# Fibonacci series
# the sum of 2 elements defines the next

a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [39]:
# Fibonacci series
# the sum of 2 elements defines the next

a, b = 0, 1
while a < 10:
    print(a, end=", ")
    a, b = b, a+b

0, 1, 1, 2, 3, 5, 8,

## `if` statements

In [43]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print("Negative changed to zero")
elif x == 0:
    print("Zero")
elif x == 1:
    print("Single")
else:
    print("More")

Please enter an integer:  0

Zero

## `for` statements

In [44]:
# measure some strings
words = ["cat", "window", "defenestrate"]
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [45]:
# Code that modifies a collection while iterating over that same collection can be tricky to get right. Instead, it is usually more straight-forward to loop over a copy of the collection or to create a new collection:
# create a sample collection
users = {'Hans': 'active', 'Elenore': 'inactive', 'Sarah': 'active'}

#strategy: Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]
        
#strategy: create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

## The `range()` function

In [46]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [47]:
list(range(0,10,3))

[0, 3, 6, 9]

In [48]:
list(range(-10,-100,-30))

[-10, -40, -70]

In [49]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [50]:
range(10)

range(0, 10)

In [51]:
sum(range(4)) # 0+1+2+3

6

## `break` and `continue` statements, and `else` clauses on loops
- The `break` statement breaks out of the innermost enclosing `for` or `while` loop.
- A `for` or `while` loop can include an `else` clause.
- In a `for` loop, the `else` clause is executed after the loop reaches its final iteration.
- In a `while` loop, it’s executed after the loop’s condition becomes false.
- In either kind of loop, the `else` clause is not executed if the loop was terminated by a break.
- This is exemplified in the following for loop, which searches for prime numbers

In [52]:
for n in range(2,10):
    for x in range(2,n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [53]:
# continue statement
for num in range(2, 10):
    if num % 2 == 0:
        print('Found an even number', num)
        continue
    print('Found an odd number', num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

## `pass`statements

In [54]:
# # The pass statement does nothing. It can be used when a statement is required syntactically but the program requires no action. For example:
# while True:
#     pass # Busy-wait for keyboard interrupt (Ctrl+C)

# # This is commonly used for creating minimal classes:
# class MyEmptyClass:
#     pass

# # Another place pass can be used is as a place-holder for a function or conditional body when you are working on new code, allowing you to keep thinking at a more abstract level. The pass is silently ignored:
# def initlog(*args):
#     pass # Remember to implement this!

## `match` statements
A match statement takes an expression and compares its value to successive patterns given as one or more case blocks

In [4]:
def http_error(status):
    match status:
        case 400:
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"

http_error(400)

'Bad request'

In [5]:
# You can combine several literals in a single pattern using | (“or”)
def http_error(status):
    match status:
        case 401 | 403 | 404:
            return "Not allowed"

http_error(403)

'Not allowed'

In [18]:
# Patterns can look like unpacking assignments, and can be used to bind variables:
# point is an (x, y) tuple
class Point:
    def __init__(self,x,y):
        self.x = x
        self.y = y

def where_is(point):
    match point:
        case (0,0):
            print('Origin')
        case (0,y):
            print(f"Y = {y}")
        case (x,0):
            print(f"X = {x}")
        case (x, y):
            print(f"X = {x}, Y = {y}")
        case _:
            raise ValueError("Not a point")

# Point(1, var)
# Point(1, y=var)
# Point(x=1, y=var)
# Point(y=var, x=1)

## Defining functions

In [25]:
# Fibonacci series function
def fib(n):
    '''Print a fibonacci series up to n'''
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

fib(3000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]

### Default argument values
Specifying a value for one or more arguments. This function can be called with fewer arguments than it is defined to allow

In [27]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries-1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

This function can be called in several ways:
- giving only the mandatory argument: `ask_ok('Do you really want to quit?')`
- giving one of the optional arguments: `ask_ok('OK to overwrite the file?', 2)`
- or even giving all arguments: `ask_ok('OK to overwrite the file?', 2, 'Come on,
only yes or no!')`

**Important warning:** The default value is evaluated only once. This makes a difference when the default is a mutable
object such as a list, dictionary, or instances of most classes.

In [32]:
ask_ok('Do you really want to quit?')

Do you really want to quit? n

False

### Keyword arguments

In [35]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")
# accepts one required argument (voltage) and three optional arguments (state, action, and type). This function can be called in any of the following way
print('1 positional argument')
parrot(1000) # 1 positional argument
print('1 keyword argument')
parrot(voltage=1000) # 1 keyword argument
print('2 keyword arguments')
parrot(voltage=1000000, action='VOOOOOM') # 2 keyword arguments
print('2 keyword arguments')
parrot(action='VOOOOOM', voltage=1000000) # 2 keyword arguments
print('3 positional arguments')
parrot('a million', 'bereft of life', 'jump') # 3 positional arguments
print('1 positional, 1 keyword')
parrot('a thousand', state='pushing up the daisies') # 1 positional, 1 keyword

1 positional argument
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
1 keyword argument
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
2 keyword arguments
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
2 keyword arguments
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
3 positional arguments
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
1 positional, 1 keyword
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [40]:
def cheeseshop(kind, *arguments, **keywords):
    print('---Do you have any ', kind, '?')
    print('---I\'m sorry we are all out of', kind,'.')
    for arg in arguments:
        print(arg)
    print('-'*40)
    for kw in keywords:
        print(kw,':', keywords[kw])

# Note that the order in which the keyword arguments are printed is guaranteed to match the order in which they were provided in the function call
cheeseshop('Limburger', 'It is very runny sir.', 'It is really very VERY runny sir.',
          shopkeeper = 'Michael Palin',
          client = 'John Cleese',
          sketch ='Cheese shop sketch')

---Do you have any  Limburger ?
---I'm sorry we are all out of Limburger .
It is very runny sir.
It is really very VERY runny sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese shop sketch

### Arbitrary argument lists

In [45]:
def concat(*args, sep="/"):
    return sep.join(args)

concat("earth", "mars", "venus")

'earth/mars/venus'

In [46]:
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

### Unpacking argument lists